<h2>ログイン</h2>
<table id="login_form">
  <tr>
    <td style="text-aligin:right">ユーザー名</td>
    <td><input type="text" size="16" style="width:120px" /></td>
  </tr>

  <tr>
    <td style="text-aligin:right">パスワード:</td>
    <td><input type="password" size="16" style="width:120px" /></td>
  </tr>

  <tr>
    <td colspan="2" style="text-aligin: center">
    <input type="submit" value="ログイン" /></td>
  </tr>
</table>
